In [9]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [10]:
df = pd.read_csv('vgsales_14.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,10689,Generator Rex: Agent of Providence,3DS,2011.0,Action,Activision,0.07,0.02,0.00,0.01,0.10
1,10856,FIFA Street 3,DS,2008.0,Sports,Electronic Arts,0.07,0.02,0.00,0.01,0.09
2,12101,Family Trainer: Treasure Adventure,Wii,2010.0,Sports,Namco Bandai Games,0.00,0.06,0.00,0.01,0.07
3,2973,Shark Tale,GBA,2004.0,Action,Activision,0.49,0.18,0.00,0.01,0.68
4,8504,Medieval Games,Wii,2009.0,Action,Vir2L Studios,0.14,0.01,0.00,0.01,0.16
...,...,...,...,...,...,...,...,...,...,...,...
548,1004,Star Wars: Starfighter,PS2,2001.0,Simulation,Activision,0.61,0.87,0.02,0.26,1.76
549,15227,Umineko no Naku Koro ni: Majo to Suiri no Rinb...,PS3,2010.0,Adventure,Alchemist,0.00,0.00,0.02,0.00,0.02
550,15993,Shinseiki Evangelion: Battle Orchestra Portable,PSP,2009.0,Fighting,Broccoli,0.00,0.00,0.01,0.00,0.01
551,5753,Cabela's Outdoor Adventures (2009),Wii,2009.0,Sports,Activision Value,0.29,0.00,0.00,0.02,0.31
552,15887,GTI Club: Supermini Festa!,Wii,2010.0,Racing,Konami Digital Entertainment,0.01,0.00,0.00,0.00,0.02

In [11]:
df.where(df['Rank'] == 10856).dropna()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,10856.0,FIFA Street 3,DS,2008.0,Sports,Electronic Arts,0.07,0.02,0.0,0.01,0.09

In [12]:
df = df.replace({'Name' : 'FIFA Street 3'}, 'Bleach')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,10689,Generator Rex: Agent of Providence,3DS,2011.0,Action,Activision,0.07,0.02,0.00,0.01,0.10
1,10856,Bleach,DS,2008.0,Sports,Electronic Arts,0.07,0.02,0.00,0.01,0.09
2,12101,Family Trainer: Treasure Adventure,Wii,2010.0,Sports,Namco Bandai Games,0.00,0.06,0.00,0.01,0.07
3,2973,Shark Tale,GBA,2004.0,Action,Activision,0.49,0.18,0.00,0.01,0.68
4,8504,Medieval Games,Wii,2009.0,Action,Vir2L Studios,0.14,0.01,0.00,0.01,0.16
...,...,...,...,...,...,...,...,...,...,...,...
548,1004,Star Wars: Starfighter,PS2,2001.0,Simulation,Activision,0.61,0.87,0.02,0.26,1.76
549,15227,Umineko no Naku Koro ni: Majo to Suiri no Rinb...,PS3,2010.0,Adventure,Alchemist,0.00,0.00,0.02,0.00,0.02
550,15993,Shinseiki Evangelion: Battle Orchestra Portable,PSP,2009.0,Fighting,Broccoli,0.00,0.00,0.01,0.00,0.01
551,5753,Cabela's Outdoor Adventures (2009),Wii,2009.0,Sports,Activision Value,0.29,0.00,0.00,0.02,0.31
552,15887,GTI Club: Supermini Festa!,Wii,2010.0,Racing,Konami Digital Entertainment,0.01,0.00,0.00,0.00,0.02

In [13]:
simp = SimpleImputer(missing_values=np.nan)
simp = simp.fit(df[['Rank']])

df['Rank'] = simp.transform(df[['Rank']])
df.isnull().mean()*100

Rank            0.000000
Name            0.000000
Platform        0.000000
Year            1.808318
Genre           0.000000
Publisher       0.542495
NA_Sales        0.000000
EU_Sales        0.000000
JP_Sales        0.000000
Other_Sales     0.000000
Global_Sales    0.000000
dtype: float64

In [ ]:
df.to_csv('newDF.csv', index=False)